//colors
$background-color: #191a1a;
$primary-color: #8fb2bf;
$secondary-color: #fff;
$accent-color: #193b59;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
$siteFont: 'Montserrat', sans-serif;