//movies and card component styles

.movies-container {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-rows: auto;
    justify-items: center;


    gap: 0.8rem;
    margin: auto;
    padding: 0.8rem;
    font-family: $siteFont;
        .movie-card{
            max-width: 180px;

            &:hover {
                .movie-info {
                    transform: translateY(0%);
                    opacity: 1;
                }

                .title-link {
                    text-decoration: underline $primary-color 2px;
                }
            }
            &:active {
                .movie-info {
                    transform: translateY(0%);
                    opacity: 1;
                }

                .title-link {
                    text-decoration: underline $primary-color 2px;
                }
            }
        }
        .movie-display {
            position: relative;
            border-radius: 0.5rem;
            max-width: 230px;
            overflow: hidden;
            margin-bottom: 0.5rem;

            .movie-info {
                p{
                    margin: 0;
                }
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                padding: 0.5rem;
                color: $secondary-color;
                background-color: $bg-hover-color;
                z-index: 1;

                //animation
                opacity: 0;
                transform: translateY(100%);
                transition: .6s cubic-bezier(.41,.59,.33,.94);

                .top-info {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 ;
                    .movie-release {
                        font-weight: bold;
                        font-size: 1.1rem;
                        padding-bottom: 10px;
                    }

                    .movie-rating {
                        font-size: 1.1rem;
                        font-weight: bold;

                        &::after {
                            content: " / 10";
                            color: white;
                            font-size: 60%;
                        }
                    }
    
                    .movie-rating.green {
                        color: #2bb62b;
                    }
                    .movie-rating.yellow {
                        color: #b6c90b;
                    }
                    .movie-rating.orange {
                        color: #e27b27;
                    }
                    .movie-rating.red {
                        color: #b91d1d;
                    }
                }


                .movie-summary {
                    font-size: 0.9rem;
                    line-height: 1.5;
                    padding-top: 1rem;
                    padding-bottom: 15%;
                    margin: none;
                }

                .movie-link {
                    line-height: 1.5;
                    font-size: 1rem;
                    font-weight: bold;
                    text-align: center;
                    color: white;
                    text-decoration: underline 1px white;
                    &:hover {
                        color: $primary-color;
                        text-decoration: underline 1px $primary-color;
                        transition: 0.5s;
                    }
                }

                .cardbtn {
                    cursor: pointer;
                    position: fixed;
                    font-size: 1.1rem;
                    color: white;
                    background: $accent-color;
                    border: none;
                    padding: 0.5rem;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    text-align: center;
                    vertical-align: middle;
                    font-weight: 500;

                    svg {
                        color: white;
                        font-size: 0.9rem;
                    }
                }

                .fav-btn {
                    &:hover{
                                svg {
                                color: $heart-color;
                                transition: 0.5s;
                            }
                        }
                }
                .remove-btn {
                    svg {
                        color: $heart-color;
                    }
                }
            }
        }

        .title-link{
            color: $primary-color;
            text-align: center;
            font-size: 0.9rem;
            text-decoration: none;
        }
}